
body{

  background-color: #cde8f6;
}
hr {
  border-style: none;
  border-top-style: dotted ;
  border-color: grey;
  border-width: 3px;
  width: auto;
}

 h1 {
     color: #774e26;
 }
   h3 {
       color: #774e26;
   }
.circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }
